{ margin: 0; padding: 0;}
html{
    height: 100%;
    background: linear-gradient(rgba(38,128,101,0.9), rgba(52,177,140,0.9));
}

body{
    font-family: "Trebuchet MS", tahoma,arial;
}

#formulario{
    width: 500px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    background: #000;
}
#formulario h2,#formulario h3{
    font: 22px "Trebuchet MS", tahoma, arial;
    color: #090;
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 4%;
}
#formulario h3{color: #333; font-size: 17px;}

#formulario fieldset{
    background: white;
    border: 0 none;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
    padding: 20px 30px;
    
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}
#formulario input,#formulario button{
    padding: 10px;
    border: 1px solid rgba(38,128,101,0.9);
    border-radius: 4px;
    
    -webkit-border-radius:4px;
    box-sizing: border-box;
    width: 100%;
    font: 14px "Trebuchet MS", tahoma, arial;
    color: #090;
    margin-bottom: 10px;
}
#formulario .acao{
    width: 100px;
    background: rgba(38, 128, 101, 0.9);
    color: white;
    text-transform: uppercase;
    font-weight:bold;
    padding: 12px 0;
    float: left;
    margin-right: 5%;
}
#formulario .acao:hover{background: rgba(52,177,140,0.9); cursor: pointer;}