.modal-body{
    background-color: #ffbfcf;
}
.modal-header{
    display:block;
    text-align: center;
    background-color: #ffbfcf;
}
.modal-title{
    font-size: 50px;
   
}
.modal-footer{
    background-color: #ffbfcf;
}
.posicao-btn{
    position:inherit;
   display:flex;
}
.btn{
  font-size: 20px;
  width: 100px;
  height: 48px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  border: none;
  border-radius: 23px;
    color: darkblue;
    background: #906fa8;
    display: block;
    text-align: center;
}
 .btn2{
  font-size: 20px;
  width: 250px;
  height: 40px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  border: none;
     border-radius: 2px;
    color: black;
    background: #7cbfb6;
    display: block;
     text-align: center;
}
.btn3{
  font-size: 20px;
  width: 300px;
  height: 40px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  border: none;
    border-radius: 2px;
    color: black;
    background: #f9d877;
    display: block;
    text-align: center;
}
.btn4{
  font-size: 20px;
  width: 110px;
  height: 35px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  border: none;
    color: black;
    background: #fae5ac;
    text-align: center;
}
.btn:focus {
  outline: none;
}
 
.btn:hover {
  transform: scale(1.1);
}
.btn2:focus {
  outline: none;
}
 
.btn2:hover {
  transform: scale(1.1);
}
.btn3:focus {
  outline: none;
}
 
.btn3:hover {
  transform: scale(1.1);
}
.btn4:focus {
  outline: none;
}
 
.btn4:hover {
  transform: scale(1.1);
}
.senha{
 position: absolute;
  right: 0;
  width: 155px;
  height: 100px;
    text-align: center;
}