* {
  box-sizing: border-box;
}

#cabecalho {
    width: 95%;
    padding: 50px 5%;
    background-color: darkred;
    text-align: center;
    font-size: 50px;
}
body {
    margin-left: 20px;
    text-align: center;  
    background-color:wheat;
    font-size: 50px;
    background-image: linear-gradient(rgba(241, 65, 162, 0.5),purple);
}

#Banner {
    margin-top: 15px;
}

#Page {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Times New Roman', Times, serif; 
    background-color:white;
    min-height: 1000px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 25px;
    overflow: hidden;
}

nav {
    list-style-type: none;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    margin-top: -5px;
    padding: 0;
    height: 100px;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
  }
  
  li {
    float: left;
    
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #E1DCDB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .Home {
      border: solid 1px;
      border-radius: 5px;
      padding: 4px;
      margin: 10px;
      float: center;
      overflow: hidden;
  }
  .Home img {
      width: 50px;
      height: 50px;
  }

  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:50px;
    width:440px;
    border: solid 1px;
    border-radius: 10px;
  }
  .Filtro {
    border: solid 1px;
    padding: 4px;
    margin: 10px;
    float: left;
    overflow: hidden;
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.modal-body{
  background-color: #ffbfcf;
  text-align: left;
}
.modal-header{
  display:block;
  text-align: center;
  background-color: #ffbfcf;
}
.modal-title{
  font-size: 50px;
 
}
.modal-footer{
  background-color: #ffbfcf;
}
.posicao-btn{
  position:inherit;
 display:flex;
}
.btn{
font-size: 20px;
width: 100px;
height: 48px;
cursor: pointer;
transition: all .2s ease-in-out;
letter-spacing: 1px;
border: none;
border-radius: 23px;
  color: darkblue;
  background: #906fa8;
  display: block;
  text-align: center;
}
.btn2{
font-size: 20px;
width: 250px;
height: 40px;
cursor: pointer;
transition: all .2s ease-in-out;
letter-spacing: 1px;
border: none;
   border-radius: 2px;
  color: black;
  background: #7cbfb6;
  display: block;
   text-align: center;
}
.btn3{
font-size: 20px;
width: 300px;
height: 40px;
cursor: pointer;
transition: all .2s ease-in-out;
letter-spacing: 1px;
border: none;
  border-radius: 2px;
  color: black;
  background: #f9d877;
  display: block;
  text-align: center;
}
.btn4{
font-size: 20px;
width: 110px;
height: 35px;
cursor: pointer;
transition: all .2s ease-in-out;
letter-spacing: 1px;
border: none;
  color: black;
  background: #fae5ac;
  text-align: center;
}
.btn:focus {
outline: none;
}

.btn:hover {
transform: scale(1.1);
}
.btn2:focus {
outline: none;
}

.btn2:hover {
transform: scale(1.1);
}
.btn3:focus {
outline: none;
}

.btn3:hover {
transform: scale(1.1);
}
.btn4:focus {
outline: none;
}

.btn4:hover {
transform: scale(1.1);
}
.senha{
position: absolute;
right: 0;
width: 155px;
height: 100px;
  text-align: center;
}

#Image img {
  margin-top: 21.5px;
  margin-left: 1%;
  
}
#Arte {
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Times New Roman', Times, serif; 
}

.Quadros div {
display: inline-block;
margin: 25px;
border: dashed 1px;
font-size: 15px;
margin-top: 25px;
}
.Quadros div p {
  font-size: 20px;
}
.Esculturas div {
display: inline-block;
margin: 25px;
border: dashed 1px;
font-size: 15px;
margin-top: 25px;
}
.Esculturas div p {
  font-size: 20px;
}