
* {
  box-sizing: border-box;
}

body {
    margin-left: 20px;
    text-align: center;  
    background-color:wheat;
    font-size: 50px;
    background-image: linear-gradient(rgba(241, 65, 162, 0.5),#906fa8);
}

#Banner {
    margin-top: 15px;
    margin-bottom: 3px;
    margin-left: 5.5%;
    margin-right: 5.5%;
    overflow: hidden;
    
}

#Page {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Times New Roman', Times, serif; 
    background-color:white;
    min-height: 1000px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 25px;
    /* overflow: hidden; */
    padding-bottom: 5px;
}

#footer {
    background-color: #22211c;
    /* text-align: center; */
    margin-top: 15px;
    padding-top: 25px;
    /* border-radius: 15px; */
    width: 100%;
    height: 350px;
    align-items: center;
    justify-content: center;
}

.ft {
  display: inline-block;
  font-size: 15px;
}

.ft img {
  height: 36px;
  width: 36px;
}

#item {
  display: inline-block;
  margin-right: 15px;
}

.Ind {
  margin-top: 140px;
  height: 25px;
  width: 500px;
  margin-left: 36.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:#906fa8;
  border-radius: 5px 5px 0px 0px;
}

nav {
    list-style-type: none;
    /* margin-left: 35%; */
    margin-left: 5%;
    margin-right: 5%;
    /* margin-bottom: 3px; */
    /* margin-top: 50px; */
    margin-top: -3.5px;
    height: 70px;
    /* width: 100%; */
    /* overflow: hidden; */
    background-color: #333;
    /* border-radius: 10px; */
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    /* font-family: 'Poppins'; */
    font-style: italic;
    text-align: center;
    position:sticky;
    top: 0;
  }
  
  li {
    float: left;
    text-decoration: none;
    padding: 10px;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    box-shadow: 0 0 5px rgba(241, 65, 162, 0.8),
                0 0 5px rgba(241, 65, 162, 0.8);
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    color: white;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    border-left: solid 3px purple;
    margin-top: 5px;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    color: white;
  }
 
  .dropdown:hover .dropdown-content {
    display: block;
    color: black;
  }

  .Home {
      border: solid 1px;
      border-radius: 5px;
      padding: 4px;
      margin: 10px;
      float: center;
      overflow: hidden;
  }
  .Home img {
      width: 50px;
      height: 50px;
  }

  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:50px;
    width:440px;
    border: solid 1px;
    border-radius: 10px;
  }
  .Filtro {
    border: solid 1px;
    padding: 4px;
    margin: 10px;
    float: left;
    overflow: hidden;
  }

  .sobre {
    padding: 4px;
    margin: 10px;
    float: left;
    overflow: hidden;
  }

  .nos {
    padding: 4px;
    margin: 10px;
    float: left;
    overflow: hidden;
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.modal-body{
  background-color: #ffbfcf;
  text-align: left;
}
.modal-header{
  display:block;
  text-align: center;
  background-color: #ffbfcf;
}
.modal-title{
  font-size: 50px;
 
}
.modal-footer{
  background-color: #ffbfcf;
}
.posicao-btn{
  position:inherit;
 display:flex;
}
.btn{
font-size: 20px;
width: 100px;
height: 48px;
cursor: pointer;
transition: all .2s ease-in-out;
letter-spacing: 1px;
border: none;
border-radius: 23px;
  color: darkblue;
  background: #906fa8;
  display: block;
  text-align: center;
}
.btn2{
font-size: 20px;
width: 250px;
height: 40px;
cursor: pointer;
transition: all .2s ease-in-out;
letter-spacing: 1px;
border: none;
   border-radius: 2px;
  color: black;
  background: #7cbfb6;
  display: block;
   text-align: center;
}
.btn3{
font-size: 20px;
width: 300px;
height: 40px;
cursor: pointer;
transition: all .2s ease-in-out;
letter-spacing: 1px;
border: none;
  border-radius: 2px;
  color: black;
  background: #f9d877;
  display: block;
  text-align: center;
}
.btn4{
font-size: 20px;
width: 110px;
height: 35px;
cursor: pointer;
transition: all .2s ease-in-out;
letter-spacing: 1px;
border: none;
  color: black;
  background: #fae5ac;
  text-align: center;
}
.btn:focus {
outline: none;
}

.btn:hover {
transform: scale(1.1);
}
.btn2:focus {
outline: none;
}

.btn2:hover {
transform: scale(1.1);
}
.btn3:focus {
outline: none;
}

.btn3:hover {
transform: scale(1.1);
}
.btn4:focus {
outline: none;
}

.btn4:hover {
transform: scale(1.1);
}
.senha{
position: absolute;
right: 0;
width: 155px;
height: 100px;
  text-align: center;
}

#Image img {
  margin-top: 21.5px;
  margin-left: 1%;
  
}
#Arte {
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Times New Roman', Times, serif; 
}

.Quadros div {
display: inline-block;
margin: 25px;
border: dashed 1px;
font-size: 15px;
margin-top: 25px;
}
.Quadros div p {
  font-size: 20px;
}

@media all and (masx-width: 600px) {
  nav {
    padding: 5px 30px;
  }

  nav li {
    width: 100%;

  }
}