
* {
  box-sizing: border-box;
}

body {
    margin-left: 20px;
    text-align: center;  
    background-color:wheat;
    font-size: 50px;
    background-image: linear-gradient(purple,rgba(241, 65, 162, 0.5));
}

#Banner {
    /* margin-top: 15px; */
    /* margin-bottom: 3px; */
    margin-left: 2%;
    margin-right: 2%;
    /* overflow: hidden; */
    
}

#Page {
    margin-left: 2%;
    margin-right: 2%;
    background-color:white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 25px;
    overflow: hidden;
    
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 10000;
    padding-top: 2%;
    padding-bottom: 2%;
}

#Page h1 {
  font-family: 'Poppins';
}

#Page p {
  font-weight: 450;
  font-family: 'Poppins';
}

#Page div h2 {
  font-family: 'Poppins';
  font-size: 40px;
  font-weight: 550;
}

#footer {
    background-color: #22211c;
    /* text-align: center; */
    margin-top: 15px;
    padding-top: 25px;
    /* border-radius: 15px; */
    width: 100%;
    height: 350px;
    align-items: center;
    justify-content: center;
    color: white;
}

.ft {
  display: inline-block;
  font-size: 15px;
}

.ft img {
  height: 36px;
  width: 36px;
}

#item {
  display: inline-block;
  margin-right: 15px;
}

.Ind {
  margin-top: 140px;
  height: 25px;
  width: 500px;
  margin-left: 36.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:#906fa8;
  border-radius: 5px 5px 0px 0px;
  color: #22211c;
}

nav {
    list-style-type: none;
    padding-left: 2%;
    padding-right: 2%;
    /* margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3px; */
    /* margin-top: 3px; */
    /* margin-top: 50px; */
    /* margin-top: -3.5px; */
    height: 70px;
    /* width: 100%; */
    /* overflow: hidden; */
    /* background-color: #333; */
    background-color: white;
    /* border-radius: 10px; */
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Poppins';
    font-style: italic;
    text-align: center;
    position:sticky;
    top: 0;
    letter-spacing: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: opacity 0.25s;
    z-index: 10000;
  }
  
  li {
    float: left;
    text-decoration: none;
    padding: 10px;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    box-shadow: 0 0 5px rgba(220, 65, 241, 0.8),
                0 0 5px rgba(220, 65, 241, 0.8);
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    color: #333;
    transition: 0.5s;
  }

  a.active {
    border: solid 2px purple;
    border-radius: 10px 10px 10px 10px;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    border-left: solid 3px purple;
    margin-top: 5px;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    color: #333;
  }
 
  .dropdown:hover .dropdown-content {
    display: block;
    color: #333;
  }

  nav #icon {
    color: white;
    font-size: 30px;
    padding: 10px;
    float: left;
    margin-top: 6px;
    margin-left: 10px;
    cursor: pointer;
    display: none;
  }

  li img:hover {
    color: #906fa8;
  }

  @media (max-width: 1048px) {
    label.logo {
      font-size: 32;
      padding-left: 60px;
    }
    nav ul {
      margin-right: 20px;
    }
    nav a {
      font-size: 15px;
    }
  }

  @media (max-width: 900px) {
    nav #icon {
      display: block;
    }
    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #22211c;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav li {
      display: block;
      margin-right: 50px 0;
      line-height: 30px;
    }
    nav a, .dropbtn {
      font-size: 12px;
      padding: 5px;
    }

    .dropdown-content a {
      padding: 5px;
    }
    nav ul.show {
      left: 0;
    }

  }

  #BHome {
    margin-left: -5%;
    margin-right: -5%;
    margin-top: -4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .Home {
      border: solid 1px;
      border-radius: 5px;
      padding: 4px;
      margin: 10px;
      float: center;
      overflow: hidden;
  }
  .Home img {
      width: 50px;
      height: 50px;
  }

  .Sobre {
    /* text-align: justify; */
    text-align: right;
    float: right;
    padding-left: 70px;
    margin-bottom: 150px;
    margin-top: 15px;
    padding-top: 15px;
    /* margin-top: -50px; */
    /* overflow: hidden; */
  
  }

  .Sobre h2 {
    text-align: right;
  }

  .home_esq {
    float: left;
    align-items: center;
  }

  .Nos {
    float: left;
    /* overflow: hidden; */
    margin-left: 10px;
    padding-left: 10px;
    margin-top: -5px;
  }

  .expo {
    /* text-align: justify; */
    float: left;
    text-align: left;
    overflow: hidden;
    padding-right: 75px;
  }

  .staff1 {
    float: left;
    /* overflow: hidden; */
    margin-top: -5px;
  }

  .staff {
    margin-top: -30px;
    overflow: hidden;
    float: left;
    padding-left: 10px;
    align-items: center;
    padding-top: 50px;
  }

  .equipe_img {
    transition: 0.5s;
  }

  .equipe_img:hover {
    transform: scale(1.05);

  }

  .EQE {
    padding-left: 75px;
    margin-right: 350px;
    align-items: center;
    margin-left: -30px;
  }

  .Exp_Home {
    transition: 0.5s;
  }

  .Exp_Home:hover {
    transform: scale(1.05);
  }

  .Qua_Home {
    float: left;
    transition: 0.5s;
  }

  .Qua_Home:hover {
    transform: scale(1.05);
  }

  .Esc_Home {
    float: right;
    transition: 0.5s;
  }

  .Esc_Home:hover {
    transform: scale(1.05);
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

#myModal {
  z-index: 20000;
}

.modal-body{
  background-color: white;
  text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}
.modal-header{
  display:block;
  text-align: center;
  background-color: white;
}
.modal-title{
  font-size: 50px;
 
}
.modal-footer{
  background-color: #ffbfcf;
}
.posicao-btn{
  position:inherit;
 display:flex;
justify-content: center;
}
.btn{
font-size: 20px;
width: 100px;
height: 48px;
cursor: pointer;
transition: all .2s ease-in-out;
letter-spacing: 1px;
border: none;
border-radius: 23px;
  color: white;
  background: black;
  display: block;
  text-align: center;
}
.btn2{
font-size: 20px;
width: 450px;
height: 40px;
padding-top: 5px;
cursor: pointer;
transition: all .2s ease-in-out;
letter-spacing: 1px;
border: none;
border-radius: 2px;
color: black;
background: linear-gradient(rgba(241, 65, 162, 0.5),#906fa8);
display: block;
align-items: center;
justify-content: center;
text-decoration: none;
    
}
.form-group{
    position: relative;
    width:auto;
    height: auto;
}

/* tirei 2 */
.btn:focus {
outline: none;
}

.btn:hover {
transform: scale(1.1);
text-decoration: none;
color: white;
}
.btn2:focus {
outline: none;
}

.btn2:hover {
transform: scale(1.1);
text-decoration: none;
color: black;
}
.btn3:focus {
outline: none;
}

.btn3:hover {
transform: scale(1.1);
}
.btn4:focus {
outline: none;
}

.btn4:hover {
transform: scale(1.1);
}
.senha{
position: absolute;
right: 0;
width: 155px;
height: 100px;
  text-align: center;
}

#Image img {
  margin-top: 21.5px;
  margin-left: 1%;
  
}
#Arte {
  font-size: 25px; 
  align-items: center;
}

#Arte h1 {
  font-size: 40px;
  font-weight: 550;
}

#Arte li {
  font-size: 25px;
  font-weight: 600;
}

#Arte img {
  border-radius: 10px;
  width: 800px;
  height: 500px;
}

.Quadros div p {
  font-size: 20px;
}

.Slider_Qua {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  float: right;
  margin-left: 50px;
}
.Slider_Qua_2 {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  float: left;
  margin-right: 50px;
}

.Slides_Qua {
  width: 500%;
  height: 500px;
  display: flex;
}

.Slides_Qua input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid purple;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background: purple;
}

.manual-btn_ved:hover {
  background: purple;
}

.manual-btn_rea:hover {
  background: purple;
}

#abs1:checked ~ .first {
  margin-left: 0;
}

#abs2:checked ~ .first {
  margin-left: -20%;
}

#abs3:checked ~ .first {
  margin-left: -40%;
}

#abs4:checked ~ .first {
  margin-left: -60%;
}

#abs5:checked ~ .first {
  margin-left: -80%;
}

#ved1:checked ~ .first {
  margin-left: 0;
}

#ved2:checked ~ .first {
  margin-left: -20%;
}

#ved3:checked ~ .first {
  margin-left: -40%;
}

#ved4:checked ~ .first {
  margin-left: -60%;
}

#ved5:checked ~ .first {
  margin-left: -80%;
}

#rea1:checked ~ .first {
  margin-left: 0;
}

#rea2:checked ~ .first {
  margin-left: -20%;
}

#rea3:checked ~ .first {
  margin-left: -40%;
}

#rea4:checked ~ .first {
  margin-left: -60%;
}

#rea5:checked ~ .first {
  margin-left: -80%;
}

#fig1:checked ~ .first {
  margin-left: 0%;
}

#fig2:checked ~ .first {
  margin-left: -20%;
}

#fig3:checked ~ .first {
  margin-left: -40%;
}

#fig4:checked ~ .first {
  margin-left: -60%;
}

#fig5:checked ~ .first {
  margin-left: -80%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  margin: 325px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid pink;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 20px;
}

#abs1:checked ~ .navigation-auto .auto-btn1 {
  background: purple;
}

#abs2:checked ~ .navigation-auto .auto-btn2 {
  background: purple;
}

#abs3:checked ~ .navigation-auto .auto-btn3 {
  background: purple;
}

#abs4:checked ~ .navigation-auto .auto-btn4 {
  background: purple;
}

#abs5:checked ~ .navigation-auto .auto-btn5 {
  background: purple;
}

#ved1:checked ~ .navigation-auto .auto-btn1_ved {
  background: purple;
}

#ved2:checked ~ .navigation-auto .auto-btn2_ved {
  background: purple;
}

#ved3:checked ~ .navigation-auto .auto-btn3_ved {
  background: purple;
}

#ved4:checked ~ .navigation-auto .auto-btn4_ved {
  background: purple;
}

#ved5:checked ~ .navigation-auto .auto-btn5_ved {
  background: purple;
}

#rea1:checked ~ .navigation-auto .auto-btn1_rea {
  background: purple;
}

#rea2:checked ~ .navigation-auto .auto-btn2_rea {
  background: purple;
}

#rea3:checked ~ .navigation-auto .auto-btn3_rea {
  background: purple;
}

#rea4:checked ~ .navigation-auto .auto-btn4_rea {
  background: purple;
}

#rea5:checked ~ .navigation-auto .auto-btn5_rea {
  background: purple;
}

#fig1:checked ~ .navigation-auto .auto-btn1_fig {
  background: purple;
}

#fig2:checked ~ .navigation-auto .auto-btn2_fig {
  background: purple;
}

#fig3:checked ~ .navigation-auto .auto-btn3_fig {
  background: purple;
}

#fig4:checked ~ .navigation-auto .auto-btn4_fig {
  background: purple;
}

#fig5:checked ~ .navigation-auto .auto-btn5_fig {
  background: purple;
}

.Abs {
  text-align: left;
  border-right: solid 3px purple;
  margin-right: 825px;
  padding-bottom: 100px;
}

.Ved {
  text-align: left;
  border-left: solid 3px purple;
  margin-left: 825px;
  padding-bottom: 130px;
}

.Rea {
  text-align: left;
  border-right: solid 3px purple;
  margin-right: 825px;
  padding-bottom: 100px;
}

.Vic {
  text-align: left;
  margin-bottom: 100px;
  border-right: solid 3px purple;
  margin-right: 825px;
}

.Vic h1 {
  text-align: center;
}

.Ale {
  margin-bottom: 100px;
  text-align: left;
  border-left: solid 3px purple;
  margin-left: 825px;
  padding-bottom: 25px;
}

.Ale h1 {
  text-align: center;
}

.Fig {
  text-align: left;
  border-left: solid 3px purple;
  margin-left: 825px;
  padding-bottom: 70px;
}

.image {
  position: relative;
  width: 800px;
  height: 500px;
  transition: 0.5s;
}

.image___img {
  display: block;
  width: 100%;
}

.image__img:hover {
  transform: translateZ(50px) scaleY(1);
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  transform-style: preserve-3d;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: bold;
  transform-style: preserve-3d;
  margin-top: 250px;
}

.image_description {
  font-size: 1.25em;
  margin-top: 0.25em;
  transform-style: preserve-3d;
  background: black;
}
#perfil {
    justify-content: left;
  
	}
    button1{
    background: transparent;
    border: none !important;
        text-align: center;
    
            }
    
  

    #obras{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10;
    display: table;              
    table-layout: fixed;         
    border-collapse: separate;   
    border-spacing: 5px 0px; 
        text-align: center;
          }
        #mais:hover{text-align: center;
            
        }   
.item {display: table-cell;}
.item img{width:200px;}

.teste{
  display: flex;
  justify-content: space-evenly;
}

.apelidoPost{
  background-color: red;
display: flex;
justify-content: center;
margin-left: 5%;
}

.bnt{
  
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-left: 5%;

}

.bnt2{
  
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
 

}


.obras2{

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
    justify-content: center;
 
}

.bntRed{
  background:red;
    height: 50px;
    width: 100px;
    border: aliceblue;
    border-radius: 10px;
    font-weight: bold;
}

.bntVerde{
  background:green;
    height: 50px;
    width: 100px;
    border: aliceblue;
    border-radius: 10px;
    font-weight: bold;
}

.FotoPerfil{
  border-radius: 360px;
  height: 180px;
  width: 180px;
  
  border: 8px solid rgb(209, 9, 209);  
}